@media (max-width: 48rem) {
	// Subscribe Notice
	.notice {
		.heading {
			font-size: 2rem;
		}

		.subscribe-form {
			display: grid;
			grid-template-columns: 1fr;

			.form-group {
				.error {
					text-align: center;
					padding-inline: 0;
				}
			}
		}
	}
}
