// Body Styling
body {
	min-height: 100vh;
	background-color: $clr-neutral-1000;
	color: $clr-primary-200;
	font-family: $ff;
	font-weight: $fw-base;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

// Container Utility
.container {
	max-width: $max-width;
	margin-inline: auto;
	padding-inline: 3.5rem;
}
