// Body Styling
body {
	min-height: 100vh;
	background-color: $clr-neutral-1000;
	color: $clr-primary-200;
	font-family: $ff;
	font-weight: $fw-base;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
	padding-block: 3.125rem;
}

// Container Utility
.container {
	max-width: $max-width;
	margin-inline: auto;
	padding-inline: 3.5rem;
}

// Header
.header {
	margin-top: 2.25rem;
}

// Subscribe Notice
.notice {
	margin-top: 2.625rem;

	.heading {
		font-weight: $fw-base;
		font-size: 2.8125rem;
		color: $clr-neutral-500;
		margin-bottom: 0.5rem;

		.bold {
			font-weight: $fw-bold;
			color: $clr-primary-200;
		}
	}

	.lead {
		font-size: 1.25rem;
		margin-bottom: 2.625rem;
	}

	.subscribe-form {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 1rem;
		align-items: center;

		.email {
			border-radius: 31.25rem;
			border: 2px solid $clr-primary-600;
			padding: 0.9375rem 1.875rem;

			&::placeholder {
				color: $clr-primary-600;
			}

			&:focus {
				border: 0;
				border-color: $clr-primary-400;
			}
		}

		.btn {
			cursor: pointer;
			border: none;
			border-radius: 31.25rem;
			padding: 1rem 3rem;
			background-color: $clr-primary-400;
			color: $clr-neutral-1000;
			font-weight: $fw-btn;
			transition: all 0.3s ease;

			&:hover {
				background-color: hsl(224, 87%, 70%);
			}
		}
	}
}

// Promotional Illustration
.promo {
	margin-top: 4.75rem;
}

// Footer
.footer {
	margin-top: 4.5rem;

	.sns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
		margin-bottom: 1.5rem;

		.sns-link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			aspect-ratio: 1;
			border: 1px solid $clr-primary-600;
			border-radius: 50%;
			transition: all 0.3s ease;

			.sns-icon {
				font-size: 0.875rem;
				color: $clr-primary-400;
			}

			&:hover {
				background-color: $clr-primary-400;
				border-color: $clr-primary-400;

				.sns-icon {
					color: $clr-neutral-1000;
				}
			}
		}
	}

	.copyright {
		font-size: 0.75rem;
		color: $clr-neutral-500;
	}
}
